/* background-color: #F4FEC1;
#D9F9A5
#D2D68D
#81726A
#68534D */


a:hover, .active {
    background-color: #F4FEC1;
  }

.icon {
    max-width: 15%;
    
}

.github{
   max-width: 20%; 
}

footer {
    margin-bottom: 0;
    
}

.me {
    max-width: 80%;
    border-radius: 20%;
}