
/* #052F5F dark blue
#005377 lighter blue
#06A77D green
#D5C67A lighter green
#F1A208 yelloworange */

a:hover, .active {
    color: #052F5F;
  }

.icon {
    max-width: 15%;
    
}

.github{
   max-width: 20%; 
}

footer {
    margin-bottom: 0;
    
}

.me {
    max-width: 80%;
    border-radius: 20%;
}