
/* #052F5F dark blue
#005377 lighter blue
#06A77D green
#D5C67A lighter yellow
#F1A208 yelloworange */

nav {
    background-color: #06A77D;
    font-family: 'Lobster Two', cursive;
    color: #D5C67A;
    font-size: 150%;
}
.card-container {
    align-items: center;
}
.card {
    margin: 3%;
}
a, .orange {
    color: #F1A208;
}



.aboutMe, .contact-form, h2, a, p {
    font-family: 'Lobster Two', cursive;
    font-size:larger;

}

.MS {
    color: #F1A208;
    font-size: 175%;font-family: 'Pinyon Script', cursive;

}
.MSaylor {
    font-family: 'Pinyon Script', cursive;
}

body {
    background-color: #06A77D;
    color: #D5C67A
}

.nav-link{
    color: #D5C67A;
}

a:hover, .active {
    color: #005377;
  }

.icon {
    max-width: 15%;
    
}


footer {
    margin-bottom: 0px;
    padding: 0;
    /* position: absolute; */
   
  
}
footer nav ul {
    /* display: flex;
    justify-content: center; */
    list-style-type: none;
}

footer li {
    width: 20%;
}
.me {
    max-width: 80%;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .aboutMe {
      display: inline-block
    }
  }

